@model Domain.ViewModel.PurchaseOrderViewModel

@{
    ViewBag.Title = "Create Purchase Order";
}

<link href="~/Content/style.css" rel="stylesheet" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet">
<section class="header">
    <div class="header-inside">
        <h5>Purchase Order Entry</h5>

    </div>
</section>


<div class="main-section">
    @using (Html.BeginForm("ManagePurchaseOrder", "PurchaseOrder"))
    {
        @Html.HiddenFor(x => x.POId)
        @Html.HiddenFor(x => x.FormStatus)
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <span class="mainsec-title">
                    Purchase Order Info
                </span>
                <div class="card">
                    <div class="card-body">
                        <table>
                            <tr>
                                <td>PO No:</td>
                                <td>
                                    @Html.EditorFor(model => model.PONumber, new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            </tr>
                            <tr>
                                <td>PO Date:</td>
                                <td>
                                    <input type="text" id="Date" name="Date" value="@(Model.FormStatus == Domain.Enum.Status.Create ? "" : Model.Date.ToString("MM/dd/yyyy"))" class="input-style">
                                </td>
                            </tr>
                            <tr>
                                <td>Tax Type:</td>
                                <td>
                                    @Html.DropDownListFor(m => m.TaxType,
                                                Model.TaxData.Select(x => new SelectListItem()
                                                {
                                                    Text = x.TaxName.Trim(),
                                                    Value = x.Percentage.ToString()
                                                }),
                                                "Select Tax Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <span class="mainsec-title">
                    Supplier Info
                </span>
                <div class="card">
                    <div class="card-body">
                        <table>
                            <tr class="wid50">
                                <td>Supplier Id:</td>
                                <td>
                                    @Html.EditorFor(model => model.Supplier_ID, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </td>
                                <td>Balance:</td>
                                <td>
                                    &nbsp;&nbsp;
                                    <h6 id="Balance">0.00</h6>
                                </td>
                            </tr>

                            <tr>
                                <td>Supplier Name:</td>
                                <td colspan="3">
                                    <select name="Supplier_ID" id="selSupplierName" class="form-control js-example-basic-single">
                                        <option value="">Select supplier</option>
                                        @foreach (var item in Model.SupplierData)
                                        {
                                            <option data-balance="@item.OpeningBalance" data-address="@item.Address"
                                                    data-city="@item.City" data-mobile="@item.ContactNo" value="@item.SupplierID.Trim()">
                                                @item.Name
                                            </option>
                                        }

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td colspan="3">
                                    <input type="text" id="Address" disabled
                                           class="form-control"
                                           value="" />
                                </td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>
                                    <input type="text" disabled id="City" class="form-control" />
                                </td>
                                <td>Contact:</td>
                                <td>
                                    <input type="text" disabled id="Mobile"
                                           class="form-control"
                                           value="" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="mainsec-title">
                    Product Info
                </span>
                <section class="middle-part">
                    <div class="card">
                        <div class="card-body">
                            <div class="row inputfields">
                                <div class="col-md-3">
                                    <h6>Product Name</h6>
                                    <select name="ProductId" id="ProductId" class="form-control js-example-basic-single">
                                        <option value="">Select Product</option>
                                        @foreach (var item in Model.ProductData)
                                        {
                                            <option value="@item.PID" data-product-code="@item.ProductCode.Trim()" data-barcode="@item.Barcode.Trim()"
                                                    data-puchase-unit="@item.PurchaseUnit.Trim()">
                                                @item.ProductName.Trim()
                                            </option>
                                        }
                                    </select>
                                    <span id="errorProductId" class="text-danger hide">Choose product</span>
                                </div>
                                <div class="col-md-2">
                                    <h6>Bar Code</h6>
                                    <input type="text" disabled class="form-control " id="txtBarCode" style="text-align:right;" />
                                </div>
                                <div class="col-md-1">
                                    <h6>Unit</h6>
                                    <input type="text" disabled class="form-control" id="txtUnit" style="text-align:right;" />
                                </div>
                                <div class="col-md-1">
                                    <h6>Quantity</h6>
                                    <input type="number" class="form-control" min="1" id="txtQty" style="text-align:right;" />
                                    <span id="errorQty" class="text-danger hide">Enter valid quantity</span>
                                </div>
                                <div class="col-md-1">
                                    <h6>Rate</h6>
                                    <input type="text" class="form-control" id="txtRate" style="text-align:right;" />
                                    <span id="errorRate" class="text-danger hide">Enter valid rate</span>
                                </div>
                                <div class="col-md-2">
                                    <h6>Total Amount</h6>
                                    <input type="text" disabled class="form-control" id="txtProductAmt" style="text-align:right;" />
                                </div>

                                <div class="col-md-2">
                                    <h6>&nbsp;</h6>
                                    <button type="button" id="btnAddProduct"><i class="fa fa-plus"></i> Add</button>

                                </div>
                            </div>
                            <br />
                            <div class="row total-amount">
                                <div class="col-md-9">
                                    <div class="card">
                                        <div class="card-body tablemain">
                                            <table class="table table-borderless" id="productList">
                                                <thead>
                                                    <tr class="table-info">
                                                        <th>Product Name</th>
                                                        <th>Barcode</th>
                                                        <th>Quantity</th>
                                                        <th>Price Per Unit</th>
                                                        <th>Total Amount</th>
                                                        <th onclick="fnRemoveRow()">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        if (Model.FormStatus != Domain.Enum.Status.Create)
                                                        {
                                                            foreach (var item in Model.ProductDetail)
                                                            {
                                                                <tr>
                                                                    <td class="hide">@item.ProductID</td>
                                                                    <td>@Model.ProductData.First(x => x.PID == item.ProductID).ProductName</td>
                                                                    <td>@Model.ProductData.First(x => x.PID == item.ProductID).Barcode</td>
                                                                    <td>@item.Qty</td>
                                                                    <td>@item.PricePerUnit</td>
                                                                    <td>@item.Amount</td>
                                                                    <td><button type='button' onclick='fnRemoveRow(this)'>Delete</button></td>
                                                                </tr>
                                                            }

                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <table>
                                                <tr>
                                                    <td>Sub Total:</td>
                                                    <td>
                                                        <input type="text" id="txtSubTotal" name="SubTotal"
                                                               class="form-control"
                                                               value="@Model.SubTotal" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sales Tax %:</td>
                                                    <td>
                                                        <input type="text" id="txtTaxPercentage" name="VATPer"
                                                               class="form-control"
                                                               value="@Model.VATPer" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sales Tax Value:</td>
                                                    <td>
                                                        <input type="text" id="txtTaxValue" name="VATAmount"
                                                               class="form-control"
                                                               value="@Model.VATAmount" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Grand Total:</td>
                                                    <td>
                                                        <input type="text" id="txtGrandTotal"
                                                               class="form-control"
                                                               value="@Model.GrandTotal" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7"></div>
                                <div class="col-md-2 total">
                                    <span>
                                        Total Amount :
                                    </span>
                                    &nbsp;
                                    <input id="txtTotalAmt" name="GrandTotal" type="text" class="form-control" value="@Model.GrandTotal" />
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer-part">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <p>Terms and conditions :</p>
                                    <textarea cols="3" rows="4" name="Terms" id="Terms" class="form-control">@Model.Terms</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    @{
                                        if (Model.FormStatus == Domain.Enum.Status.Create)
                                        {
                                            <button type="submit" onclick="return fnFormSave()" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Save</button>
                                            <button type="button" onclick="fnFormReset()" class="btn btn-primary btn-lg"><i class="fa fa-refresh"></i> Reset</button>
                                        }
                                        else if (Model.FormStatus == Domain.Enum.Status.Update)
                                        {
                                            <button type="submit" onclick="return fnFormSave()" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Save</button>
                                            <button type="button" onclick="fnDeletePO('@(Model.POId)')" class="btn btn-primary btn-lg"><i class="fa fa-remove"></i> Delete</button>
                                            <button type="button" onclick="fnFormReset()" class="btn btn-primary btn-lg"><i class="fa fa-refresh"></i> Reset</button>
                                        }
                                        <button type="button" onclick="window.location.href='@Url.Action("PurchaseOrderList","PurchaseOrder")'" class="btn btn-primary btn-lg"><i class=""></i> Get All PO</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div id="tempProductDetail" class="hide">
            @*<input type="text" name="ProductDetail[0].PurchaseOrderID" value="12" />*@

        </div>
    }
</div>



@section Scripts {

    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
}

<script src="~/Scripts/POS/purchaseOrderAdd.js"></script>

<script>
    @if(Model.FormStatus != Domain.Enum.Status.Create)
    {
        <text>
    $("#TaxType option:contains('@Model.TaxType')").attr('selected', 'selected');
    $("#selSupplierName").val('@Model.Supplier_ID');
    $('#Balance').text('@Model.SupplierData.FirstOrDefault(x => x.SupplierID.Trim()== Model.Supplier_ID).OpeningBalance');
        $('#Address').val('@Model.SupplierData.FirstOrDefault(x => x.SupplierID.Trim()== Model.Supplier_ID).Address');
        $('#City').val('@Model.SupplierData.FirstOrDefault(x => x.SupplierID.Trim()== Model.Supplier_ID).City');
        $('#Mobile').val('@Model.SupplierData.FirstOrDefault(x => x.SupplierID.Trim()== Model.Supplier_ID).ContactNo');
    </text>
    }
</script>
